%h1 Canopy Analytics 

= link_to "Funnels", "/analytics/funnels"
= link_to "Traffic", "/analytics/traffic" 
= link_to "Events", "/analytics/events" 
= link_to "Test", "/analytics/test"
= link_to "Email" , "/analytics/email"
%a{:href => "https://www.google.com/analytics/web/?hl=en#report/visitors-overview/a41745711w71283915p73518918/", :target => "_blank"} Our Google Analytics
<br>