%h1 Canopy Analytics Dashboard

= link_to "Funnels", "/analytics/funnels"
= link_to "Traffic", "/analytics/traffic" 
= link_to "Events", "/analytics/events" 
= link_to "Test", "/analytics/test" 
<br>
= link_to "Back to Main Dashboard", "/analytics/main"