<ul class="nav">
	<li><%= link_to 'Home', root_path %></li>
	<li><%= link_to 'Funnels','analytics/funnels' %></li>
	<li><%= link_to 'Events','analytics/events' %></li>
	<li><%= link_to 'Traffic','analytics/traffic' %></li>
	<li><%= link_to 'Email','analytics/email' %></li>
	<li><%= link_to 'Test Area', 'analytics/test' %></li>
	<li><%= link_to 'GA', 'https://www.google.com/analytics/web/?hl=en#report/visitors-overview/a41745711w71283915p73518918/' %></li>
</ul>
